<div class="tame-stage">

<div class="input-row">
	<div class="half">
		<%= f.label :name, "Full Name" %>
		<%= f.text_field :name, :required => true, :autofocus => true %>
	</div>
	<div class="half end">
		<%= f.label :email %>
		<%= f.text_field :email, :required => true %>
	</div>
</div>
<div class="input-row">
	<div class="half">
		<%= f.label :password %>
		<% if params[:action] == 'new' %>
			<%= f.password_field :password, :required => true %>
		<% else %>
			<%= f.password_field :password %>
		<% end %>
	</div>
	<div class="half end">
		<%= f.label :password_confirmation %>
		<% if params[:action] == 'new' %>
			<%= f.password_field :password_confirmation, :required => true %>
		<% else %>
			<%= f.password_field :password_confirmation %>
		<% end %>
	</div>
</div>
<div class="input-row">
	<div class="half">
		<%= f.label :degree %>
		<%= collection_select(:provider, :degree_id, Degree.all, :id, :description, :required => true, :include_blank => 'Select an option')%>
	</div>
	<div class="half end">
		<%= f.label :profession %>
		<%= collection_select(:provider, :profession_id, Profession.all, :id, :description, :required => true, :include_blank => 'Select an option')%>
	</div>
</div>
<div class="input-row">
	<div class="half">
		<%= f.label :experience %>
		<%= collection_select(:experience, :experience_id, Experience.all, :id, :description, :required => true, :include_blank => 'Select an option')%>
	</div>
	<div class="half end">
	</div>
</div>
<div class="input-row">
	<div class="half">
		<%= f.label :country_code, "Country" %>
		<%= f.country_select :country_code, {priority: %w[US CA]} %>
	</div>
	<div class="half end">
		<%= f.label :state_code, "State" %>
		<div class='state-code-selectbox'>
			<%= f.collection_select :state_code, Carmen::Country.coded("US").subregions, :name, :name, {include_blank: 'Select an option'} %>
		</div>
	</div>
</div>

</div>