<%
	provide(:title, 'Administration')
	provide(:body_class, 'provider-info edit')
%>
<div class="stage-top">
	<h2>Edit Provider Profile</h2>
	<div class="error-explanation">
		<% @provider.errors.full_messages.each do |m| %>
		<p><%= m %></p>
		<% end %>
	</div>
</div>
<div class="stage-bottom">
	<%= form_for @provider do |f| %>
		<%= render partial: 'provider', locals: {f: f} %>
	<% end %>
	
	<div class="stage-controls clear">
		<a href="#" class="button green save"><span>Save Changes</span></a>
		<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
		<span>Back</span>
		<% end %>
	</div>
</div>
