<%
	provide(:title, 'Administration')
	provide(:body_class, 'providers-info')
%>
<div class="stage-bottom">

<div class="tame-stage">

	<table>
		<caption>Providers</caption>
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @providers.each do |provider| %>
			<tr>
				<td><%= provider.name %></td>
				<td><%= provider.email %></td>
				<td>
					<%= link_to 'Show', provider_path(provider) %>
					<span> - </span>
					<%= link_to 'Edit', edit_provider_path(provider) %>
					<span> - </span>
					<%= link_to 'Delete', provider_path(provider), data: {confirm: "Are you sure you want to delete this provider?\nAll associated patient data will also be deleted."}, :method => :delete %>
				</td>
			</tr>
			<% end%>
		</tbody>
	</table>
	
</div>

	<div class="stage-controls clear">
		<%= link_to new_provider_path, class: 'button green' do %>
		<span>Create New Provider</span>
	<% end %>
		<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
		<span>Back</span>
		<% end %>
	</div>

</div>

