<%
	provide(:title, 'Administration')
	provide(:body_class, 'provider-info')
%>
<div class="stage-top">
	<h2>Provider Profile</h2>
</div>
<div class="stage-bottom">
	<% flash.each do |name, message| %>
	<p><%= message %></p>
	<% end %>
	
	<%= form_for @provider do |f| %>
		<%= render partial: 'provider', locals: {f: f} %>
	<% end %>
	
	<div class="stage-controls clear">
		<a href="#" class="button green"><span onclick="document.getElementById('new_provider').submit();">Create New Provider</span></a>
		<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
		<span>Back</span>
		<% end %>
	</div>
</div>
