<%
	provide(:body_class, 'misc patient provider chapters')
	provide(:title, "Provider Preparation")
%>

<div class="stage-top">
	<h2><%= @provider.name %></h2>
</div>
<div class="stage-bottom">
	<h3>Choose a chapter.</h3>

	<div class="tame-stage clear">

		<div class="chapter-buttons clear">
		<% Chapter.all.order("display_order ASC").each do |chapter| %>
			<% if chapter.first_vimeo_url %>
				<%= link_to content_tag(:span, chapter.display_name), chapter_path(chapter.id), class: 'button green' %>
			<% end %>
		<% end %>
		</div>

	</div>

	<div class="stage-controls clear">
		<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
			<span>Back</span>
		<% end %>
	</div>

</div>
