<%
provide(:body_class, 'misc provider-home')
provide(:title, 'Provider - main menu')
%>

<div class="stage-bottom clear">
	<% if current_provider.admin? %>
	<div class="left">
		<h2>eTF-CBT</h2>
		<h6>Medical University of South Carolina</h6>
		<h3 class="color-green">Welcome, <%= @provider.name %>.</h3>
		<div class="clear">
			<%= link_to providers_path, class: 'button' do %>
				<span>Manage providers</span>
			<% end %>
		</div>
		<div class="clear">
			<%= link_to edit_content_path, class: 'button' do %>
				<span>Manage content</span>
			<% end %>
		</div>
		<div class="clear">
			<%= link_to export_providers_path, class: 'button' do %>
				<span>Export session data</span>
			<% end %>
		</div>
		<div class="clear">
			<%= link_to destroy_provider_session_path, class: 'button', :method => :delete do%>
				<span>Log out</span>
			<% end %>
		</div>
	</div>
	<div class="right">
	</div>
	<% else %>
	<div class="left">
		<h2>eTF-CBT</h2>
		<h6>Medical University of South Carolina</h6>
		<h3 class="color-green"><%= @provider.name %></h3>
		<div class="clear">
			<%= link_to new_provider_patient_path(@provider), class: 'button create' do %>
				<span>Create New Patient</span>
			<% end %>
		</div>
		<div class="clear">
			<%= link_to decks_path, class: 'button create' do %>
				<span>Edit Cards</span>
			<% end %>

			<%= link_to destroy_provider_session_path, class: 'button', :method => :delete do%>
				<span>Log out</span>
			<% end %>
		</div>
		<div class="clear">
			
		</div>
	</div>
	<div class="right">

		<h3>Active Patients</h3>
		<select name="active-patients">
			<option value="">Please Select</option>
			<% @provider.patients.where(is_active: true).each do |patient| %>
				<option value="<%= patient.id %>" data-url="<%= url_for(patient) %>"><%= patient.lookup_id %></option>
			<% end %>
		</select>
		<h3>Inactive Patients</h3>
		<select name="active-patients">
			<option value="">Please Select</option>
			<% @provider.patients.where(is_active: false).each do |patient| %>
				<option value="<%= patient.id %>" data-url="<%= url_for(patient) %>"><%= patient.lookup_id %></option>
			<% end %>
		</select>
	</div>
	<% end %>
</div>
