<%
	provide(:title, 'Homework')
	provide(:body_class, 'misc patient patient-homework desktop')
%>
<%= @chapter %>
<div class="stage-top clear">
	<div class="left"></div>
	<div class="middle">
		<h3>Categories</h3>
	</div>
	<div class="right">
		<h3>Assignments</h3>
	</div>
</div>

<div class="stage-bottom clear" data-chapter-id="<%= params[:chapter_id] %>">

	<div class="clear">
		<div class="left">
			<div class="letter">p</div>
			<div class="letter">p</div>
			<div class="letter">r</div>
			<div class="letter">a</div>
			<div class="letter">c</div>
			<div class="letter">t</div>
			<div class="letter">i</div>
			<div class="letter">c</div>
			<div class="letter">e</div>
		</div>
		<div class="middle" id="categoryContainer">
			<% HomeworkCategory.all.order("id ASC").each do |category| %>
				<%= link_to content_tag(:span, "#{category.description}"),
						list_homework_category_path(category.id),
						remote: true,
						class: "button " + Chapter.where(homework_category_id: category.id).map{|c| "chapter-#{c.id}"}.join(' ')
				 %>
			<% end %>
		</div>
		<div class="right">
			<div class="check-rows" id="homeworkContainer">
				<%= render partial: 'homework_category/list', locals: {homeworks: @homeworks, patient: @patient, assigned: @assigned} %>
			</div>
		</div>
	</div>

	<div class="stage-controls clear">
		<%= link_to chapters_path, class: 'button green' do %>
			<span>Finish</span>
		<% end %>
	</div>

</div>
