<%
	provide(:title, 'MUSC TFCBT Provider Change Password')
	provide(:body_class, 'misc log-in password-change')
%>
<div class="stage-bottom">

	<h2>eTF-CBT</h2>
	<h6>Medical University of South Carolina</h6>
	<h3>Change Password</h3>
	
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
	  <%= devise_error_messages! %>
	  <%= f.hidden_field :reset_password_token %>
	
	  <div><%= f.label :password, "New password" %><br />
	  <%= f.password_field :password, :autofocus => true %></div>
	
	  <div><%= f.label :password_confirmation, "Confirm new password" %><br />
	  <%= f.password_field :password_confirmation %></div>
	
	  <div>
	  	<a href="#" class="button green"><span onclick="document.getElementById('new_provider').submit();">Change My Password</span></a>
	  </div>

	  <div class="clear">
		<p><%= render "devise/shared/links" %></p>
	  </div>
	<% end %>

</div>