<%
	provide(:title, 'MUSC TFCBT Provider Password Recovery')
	provide(:body_class, 'misc log-in password-recovery')
%>
<div class="stage-bottom">

	<h2>eTF-CBT</h2>
	<h6>Medical University of South Carolina</h6>
	<h3>Password Recovery</h3>
	
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
	  <%= devise_error_messages! %>
	
	  <div><%= f.label :email %><br />
	  <%= f.email_field :email, :autofocus => true %></div>
	
	
	  <div>
	  	<a href="#" class="button green"><span onclick="document.getElementById('new_provider').submit();">Send Me Reset Instructions</span></a>
	  </div>

	  <div class="clear">
		<p><%= render "devise/shared/links" %></p>
	  </div>
	<% end %>
	
</div>