
<div class="audio-file" <%= "data-source=\"#{@audioUrl}#{@section.audio_file}\"".html_safe if @section.audio_file %>></div>
<div class="audio-controls">
	<span class="audio buttonette small">Audio</span><br />
	<a href="#" class="button small audio-control play"><span>Play</span></a>
</div>
