<%
	provide(:body_class, 'chapter-06 charades')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage-top">
	<h2><%= @section.header_text %></h2>
</div>
<div class="stage-bottom">
	<div class="clear">
		<div class="left">
			<div class="spinner-wrap">
				<div class="spinner">
					<div class="slides">
						<div class="slide dark"><span>Happy</span></div>
						<div class="slide medium"><span>Sad</span></div>
						<div class="slide middle"><span>Scared</span></div>
						<div class="slide medium"><span>Angry</span></div>
						<div class="slide dark"><span>Excited</span></div>
						<div class="slide hidden"><span>Upset</span></div>
						<div class="slide hidden"><span>Hurt</span></div>
						<div class="slide hidden"><span>Disgusted</span></div>
						<div class="slide hidden"><span>Shame</span></div>
						<div class="slide hidden"><span>Guilt</span></div>
						<div class="slide hidden"><span>Embarrassed</span></div>
						<div class="slide hidden"><span>Nervous</span></div>
						<div class="slide hidden"><span>Confused</span></div>
						<div class="slide hidden"><span>Pick Your Own</span></div>
					</div>
					<div class="shadow up"></div>
					<div class="shadow down"></div>
					<div class="arrow-left"></div>
					<div class="arrow-right"></div>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="stage-controls-calc">
				<div class="toppy">
					<a href="#" class="button small minus"><span>&nbsp;</span></a>
					<span class="value">0</span>
					<a href="#" class="button small plus"><span>&nbsp;</span></a>
				</div>
				<div class="centery">
					<span>Keep Score</span>
				</div>
				<div class="bottomy">
					<a href="#" class="button small minus"><span>&nbsp;</span></a>
					<span class="value">0</span>
					<a href="#" class="button small plus"><span>&nbsp;</span></a>
				</div>
			</div>
		</div>
	</div>
	<div class="stage-controls clear">
		<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
		<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
<span>Back</span>
<% end %>



	</div>
</div>