<%
	provide(:body_class, 'chapter-09 audio ladder')
	provide(:title, "#{@chapter.display_name}")
%>

<div class="stage">
	<div class="stage-top">
		<h2><%= @name %>'s Ladder</h2>
	</div>
	<div class="stage-bottom">
		<div class="clear">
			<div class="ladder-items">
				<div class="ladder-item top">
					<h3 class="one">Riding through the intersection where the car crash happened<span class="tip"></span></h3>
				</div>
				<div class="ladder-item">
					<h3 class="two">Visiting the emergency room that I went to after the accident<span class="tip"></span></h3>
				</div>
				<div class="ladder-item">
					<h3 class="three">Waiting in a car at a red light at an intersection<span class="tip"></span></h3>
				</div>
				<div class="ladder-item">
					<h3 class="four">Watching a car crash in a movie, television show, or youtube video<span class="tip"></span></h3>
				</div>
				<div class="ladder-item">
					<h3 class="five">Playing a driving video game<span class="tip"></span></h3>
				</div>
			</div>
		</div>
		
		<%= render partial: 'audio' %>
		
		<div class="stage-controls">
			<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
			<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
				<span>Back</span>
			<% end %>
		</div>
	</div>
</div>