<%
	provide(:body_class, 'chapter-02 slow')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage-top">
</div>
<div class="stage-bottom">
	<div class="clear">
		<div class="balloon">
			<div class="balloon-top-wrap">
				<%= image_tag "balloon-blue-top.png", alt: "balloon-top", class: "balloon-top" %>
			</div>
			<div class="balloon-bottom-wrap">
				<%= image_tag "balloon-blue-bottom.png", alt: "balloon-top", class: "balloon-bottom" %>
			</div>
		</div>
	</div>
	
	<%= render partial: 'audio' %>
	
	<div class="stage-controls clear">
		<a href="#" class="button green start play"><span>Start</span></a>
		<a href="#" class="button green retry"><span>Retry</span></a>
		<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
		<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
		<span>Back</span>
		<% end %>
	</div>
</div>