<%
	provide(:body_class, 'chapter-09 audio exercise')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage">
	<div class="stage-top">
	</div>
	<div class="stage-bottom">
		<div class="clear">
			<div class="left">
				<%= image_tag "#{@gender}-profile.png", alt: @gender.capitalize %>
			</div>
			<div class="right">
				<h3><%= @name %> is a 9 year old <%= @gender %> whose family was affected by a strong hurricane. <%= @name %> and <%= @possessive %> family had just enough time to safely evacuate right before the hurricane hit their neighborhood.</h3>
				<h3><%= @possessive.capitalize %> home was destroyed, and <%= @possessive %> dog was lost during the storm.</h3>
			</div>
		</div>
		
		<%= render partial: 'audio' %>
		
		<div class="stage-controls">
			<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
			<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
				<span>Back</span>
			<% end %>
		</div>
	</div>
</div>