<%
	provide(:body_class, 'chapter-video')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage-top">
	<h2><%= "#{@chapter.display_name}" %></h2>
</div>
<div class="stage-bottom">
	<div class="clear">
		<%= render partial: 'video', locals: {vimeo_url: @section.vimeo_url} %>
	</div>
	<div class="stage-controls clear">
		<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
		<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
			<span>Back</span>
		<% end %>
	</div>
</div>