<%
	provide(:body_class, 'chapter-09 audio list exercise')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage">
	<div class="stage-top">
		<h2><%= @name %>'s List</h2>
	</div>
	<div class="stage-bottom">
		<div class="clear">
			<div class="list"></div>
			<div class="list-items">
				<div class="tip"></div>
				<h3>1. Riding through the intersection where the car crash happened<span class="bar"></span></h3><br />
				<h3>2. Riding in a car without a seatbelt<span class="bar"></span></h3><br />
				<h3>3. Waiting in a car at a red light at an intersection<span class="bar"></span></h3><br />
				<h3>4. Visiting the emergency room that I went to after the accident<span class="bar"></span></h3><br />
				<h3>5. Driving a car in a NASCAR race<span class="bar"></span></h3><br />
				<h3>6. Watching a car crash in a movie, television show, or youtube video<span class="bar"></span></h3><br />
				<h3>7. Playing a driving video game<span class="bar"></span></h3><br />
				<h3 class="crossed">8. Giving a presentation to my class<span class="bar"></span></h3><br />
			</div>
		</div>
		
		<%= render partial: 'audio' %>
		
		<div class="stage-controls">
			<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
			<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
				<span>Back</span>
			<% end %>
		</div>
	</div>
</div>