<%
	provide(:body_class, "chapter-05 slides #{@deck.body_class}")
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage-top">
	<h2><%= @section.header_text.gsub('$DECK_TITLE', @deck.title) %></h2>
</div>
<div class="stage-bottom">
	<div class="slideshow swipable clear">
		<div class="slide-wrap">
			<!-- todo bwj label first card with 'first' class -->
			<% @deck.cards.where(active:true).each_with_index do |card, index| %>
			<div class="slide<%= index == 0 ? " first" : ""%>" data-card-id="card-<%= index + 1 %>">
				<h3><%= card.question %></h3>
			</div>
			<% end %>
		</div>
	</div>
	<div class="slideshow-controls clear">
		<!-- todo bwj label first pick with 'current' class -->
		<% @deck.cards.where(active:true).each_with_index do |card, index| %>
		<a href="#" class="pick<%= index == 0 ? " current" : "" %>">pick</a>
		<% end %>
		<a href="#" class="previous">previous</a>
		<a href="#" class="next">next</a>
	</div>
	<div class="stage-controls clear">
		<div class="stage-controls-calc">
			<div class="lefty">
				<a href="#" class="button small minus"><span>-</span></a>
				<span class="value">0</span>
				<a href="#" class="button small plus"><span>+</span></a>
			</div>
			<div class="middly">
				<span>Keep Score</span>
			</div>
			<div class="righty">
				<a href="#" class="button small minus"><span>-</span></a>
				<span class="value">0</span>
				<a href="#" class="button small plus"><span>+</span></a>
			</div>
		</div>
		<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
<span>Back</span>
<% end %>

	</div>
	<div class="shadow lefty"></div>
	<div class="shadow righty"></div>
	<div class="stage-controls clear">
		<%= link_to content_tag(:span, 'Finish'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
	</div>
</div>