<%
	provide(:body_class, 'chapter-07 matching')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage-top">
	<h2><%= @section.header_text %></h2>
</div>
<div class="stage-bottom">
	<div class="clear">
		<div class="left">
			<ul class="buttons">
				<li><a href="#" class="button talking lefty"><span>Talking to a friend</span><em class="tip"></em></a></li>
				<li><a href="#" class="button madatme lefty"><span>She's mad at me</span><em class="tip"></em></a></li>
				<li><a href="#" class="button hitting lefty"><span>Hitting</span><em class="tip"></em></a></li>
				<li><a href="#" class="button scared lefty"><span>Scared</span><em class="tip"></em></a></li>
				<li><a href="#" class="button sad lefty"><span>Sad</span><em class="tip"></em></a></li>
				<li><a href="#" class="button myfault lefty"><span>It's my fault</span><em class="tip"></em></a></li>
			</ul>
		</div>
		<div class="right">
			<%= image_tag 'circle-thoughts.png', alt: 'thoughts'%>
			<%= image_tag 'circle-feelings.png', alt: 'feelings'%>
			<%= image_tag 'circle-actions.png', alt: 'actions'%>
			<div class="accepts">
				<div class="thoughts accept"></div>
				<div class="feelings accept"></div>
				<div class="actions accept"></div>
			</div>
		</div>
		<div class="success-check"></div>
	</div>
	<div class="stage-controls clear">
		<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
		<%= link_to content_tag(:span, 'Skip'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button skip', :method => :put %>
		<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
<span>Back</span>
<% end %>



	</div>
</div>