<%
	provide(:body_class, 'chapter-09 audio list exercise')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage">
	<div class="stage-top">
		<h2><%= @name %>'s List</h2>
	</div>
	<div class="stage-bottom">
		<div class="clear">
			<div class="list"></div>
			<div class="list-items">
				<div class="tip"></div>
				<h3>1. Having a funeral for my dog<span class="bar"></span></h3><br />
				<h3>2. Walking outside during a severe tropical storm<span class="bar"></span></h3><br />
				<h3>3. Watching a storm through a window<span class="bar"></span></h3><br />
				<h3>4. Talking to family and friends who were also affected by the Hurricane<span class="bar"></span></h3><br />
				<h3>5. Moving to a place that doesn’t have disasters<span class="bar"></span></h3><br />
				<h3>6. Watching a video or news show about the Hurricane<span class="bar"></span></h3><br />
				<h3>7. Looking through old pictures of my dog and my house<span class="bar"></span></h3><br />
				<h3>8. Giving a presentation to my class<span class="bar"></span></h3><br />
			</div>
		</div>
		
		<%= render partial: 'audio' %>
		
		<div class="stage-controls">
			<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
			<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
				<span>Back</span>
			<% end %>
		</div>
	</div>
</div>