<%
	provide(:body_class, 'chapter-09 audio exercise')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage">
	<div class="stage-top">
	</div>
	<div class="stage-bottom">
		<div class="clear">
			<div class="left">
				<%= image_tag "#{@gender}-profile.png", alt: @gender.capitalize %>
			</div>
			<div class="right">
				<h3><%= @name %> is a 14 year old <%= @gender %> who was in a car crash on <%= @possessive %> way home from school. <%= @direct.capitalize %> was in the back seat of <%= @possessive %> dad's car at an intersection when another car crashed into their car from behind.</h3>
				<h3><%= @direct.capitalize %> was very badly hurt and had to be rushed to the hospital. While in the hospital, <%= @direct %> was not able to see <%= @possessive %> dad for a long time and was very worried.</h3>
			</div>
		</div>
		
		<%= render partial: 'audio' %>
		
		<div class="stage-controls">
			<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
			<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
				<span>Back</span>
			<% end %>
		</div>
	</div>
</div>