<%
	provide(:body_class, 'chapter-09 audio test')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage-top">
</div>
<div class="stage-bottom">
	<h3>This chapter contains audio narration. Look for the play button at the top left of each screen. Tap the button to hear the narration. You can pause the narration as it plays, and tap the button again to resume.</h3>
	<h3 class="try">Try it now.</h3>
	
	<%= render partial: 'audio' %>
		
	<div class="stage-controls">
		<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
	</div>
</div>