<%
	provide(:body_class, 'chapter-09 audio list exercise')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage">
	<div class="stage-top">
		<h2><%= @name %>'s List</h2>
	</div>
	<div class="stage-bottom">
		<div class="clear">
			<div class="list"></div>
			<div class="list-items">
				<div class="tip"></div>
				<h3>1. Writing a letter to the bully<span class="bar"></span></h3><br />
				<h3>2. Trying to get revenge on the bully<span class="bar"></span></h3><br />
				<h3>3. Going to the school bathroom by myself<span class="bar"></span></h3><br />
				<h3>4. Confronting the bully with the help of a trusted adult<span class="bar"></span></h3><br />
				<h3>5. Stop going to school<span class="bar"></span></h3><br />
				<h3>6. Talking to a trusted adult about the bullying<span class="bar"></span></h3><br />
				<h3>7. Watching a movie or TV show with kids being bullied<span class="bar"></span></h3><br />
				<h3 class="crossed">8. Giving a presentation to my class<span class="bar"></span></h3><br />
			</div>
		</div>
		
		<%= render partial: 'audio' %>
		
		<div class="stage-controls">
			<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
			<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
				<span>Back</span>
			<% end %>
		</div>
	</div>
</div>