<%
	provide(:body_class, 'chapter-09 audio list exercise')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage">
	<div class="stage-top">
		<h2><%= @name %>'s List</h2>
	</div>
	<div class="stage-bottom">
		<div class="clear">
			<div class="list"></div>
			<div class="list-items">
				<div class="tip"></div>
				<h3>1. Chewing mint gum<span class="bar"></span></h3><br />
				<h3 class="crossed">2. Spending the night alone with uncle<span class="bar"></span></h3><br />
				<h3>3. Going to a public bathroom<span class="bar"></span></h3><br />
				<h3>4. Going to the bathroom in another person’s house<span class="bar"></span></h3><br />
				<h3>5. Confronting my uncle in jail<span class="bar"></span></h3><br />
				<h3>6. Going to a birthday party<span class="bar"></span></h3><br />
				<h3>7. Going to my grandmother’s house where the birthday party took place<span class="bar"></span></h3><br />
				<h3 class="crossed">8. Giving a presentation to my class<span class="bar"></span></h3><br />
			</div>
		</div>
		
		<%= render partial: 'audio' %>
		
		<div class="stage-controls">
			<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
			<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
				<span>Back</span>
			<% end %>
		</div>
	</div>
</div>