<%
	provide(:body_class, 'chapter-07 best-answer multiple-choice')
	provide(:title, "#{@chapter.display_name}")

	# Get cookies
	track_id = cookies[:chapter07_trackID].to_i
	current_track_position = @tracks[track_id][2].to_i
	track_title = @trackTitles[current_track_position]
%>

<div class="stage-top">
	<h2><%= @section.header_text.gsub("**FEELING**","&ldquo;#{track_title}&rdquo;").html_safe %></h2>
</div>
<div class="stage-bottom">
	<div class="circles clear">
		<%= image_tag 'circle-thoughts.png', alt: 'body', class: 'thoughts inactive' %>
		<%= image_tag 'circle-feelings.png', alt: 'body', class: 'feelings' %>
		<%= image_tag 'circle-actions.png', alt: 'body', class: 'actions inactive' %>
	</div>
	<div class="buttons">
		<% if current_track_position == 1 %>
			<a href="#" class="button hurt"><span>Curious</span></a>
			<a href="#" class="button sad"><span>Happy</span></a>
			<a href="#" class="button angry"><span>Amused</span></a>
			<a href="#" class="button numb"><span>Interested</span></a>
		<% elsif current_track_position == 0 || current_track_position == 2 %>
			<a href="#" class="button hurt"><span>Hurt</span></a>
			<a href="#" class="button sad"><span>Sad</span></a>
			<a href="#" class="button angry"><span>Angry</span></a>
			<a href="#" class="button numb"><span>Numb</span></a>
		<% end %>
	</div>
	<div class="stage-controls clear">
		<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue hidden', :method => :put %>
		<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
		<span>Back</span>
		<% end %>
	</div>
</div>