<%
	provide(:body_class, 'chapter-09 audio list own-list')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage">
	<div class="stage-top">
		<h2>Now it's your turn to come up with a list. <br/>Remember:</h2>
	</div>
	<div class="stage-bottom">
		<div class="clear">
			<div class="list-items">
				<div class="list-item clear">
					<div class="left">
						<h3>1</h3>
					</div>
					<div class="right">
						<h3>Pick about 5 things that may be scary and that are related to your trauma.</h3>
					</div>
				</div>
				<div class="list-item clear">
					<div class="left">
						<h3>2</h3>
					</div>
					<div class="right">
						<h3>Its good idea to include your parent or caregiver when creating the list to help you practice during the week.
</h3>
					</div>
				</div>
				<div class="list-item clear">
					<div class="left">
						<h3>3</h3>
					</div>
					<div class="right">
						<h3>Cross out the items that would be irrelevant, dangerous, or impossible to do.</h3>
					</div>
				</div>
				<div class="list-item clear">
					<div class="left">
						<h3>4</h3>
					</div>
					<div class="right">
						<h3>Arrange the items on your list from least scary, closer to the bottom, to most scary, closer to 
the top.</h3>
					</div>
				</div>
				<div class="list-item clear">
					<div class="left">
						<h3>5</h3>
					</div>
					<div class="right">
						<h3>To pick a couple of these items to practice during the week.</h3>
					</div>
				</div>
			</div>
		</div>
		
		<%= render partial: 'audio' %>
		
		<div class="stage-controls">
			<%= link_to content_tag(:span, 'Finish'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
			<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
				<span>Back</span>
			<% end %>
		</div>
	</div>
</div>