<%
	provide(:body_class, 'chapter-06 writing')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage-top">
	<h2><%= @section.header_text %></h2>
</div>
<div class="stage-bottom">
	<canvas class="canvas" width="756px" height="300px"></canvas>
	<div class="stage-controls clear">
		<div class="stage-controls-calc">
			<div class="lefty">
				<a href="#" class="button small light draw"><span>draw</span></a>
				<a href="#" class="button small light erase"><span>erase</span></a>
			</div>
			<div class="righty">
				<a href="#" class="button green start"><span>Start</span></a>
				<a href="#" class="button gray hide"><span>Retry</span></a>
				<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue hide', :method => :put %>
				<%= link_to content_tag(:span, 'Skip'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button skip', :method => :put %>
			</div>
		</div>
		<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
<span>Back</span>
<% end %>

	</div>
	<div class="shadow lefty"></div>
	<div class="shadow righty"></div>
</div>
