<%
	provide(:body_class, 'chapter-09 audio list intro')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage">
	<div class="stage-top">
		<h3><%= @name %> made a short list of things that reminded <%= @pronoun %> about a traumatic event. Click continue to see what <%= @name %>'s list might look like.</h3>
	</div>
	<div class="stage-bottom">
		<div class="clear">
			<div class="list"></div>
		</div>
		
		<div class="stage-controls">
			<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
			<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
				<span>Back</span>
			<% end %>
		</div>
	</div>
</div>