<%
	provide(:body_class, 'chapter-07 best-answer multiple-choice')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage-top">
	<h2><%= @section.header_text %></h2>
</div>
<div class="stage-bottom">
	<div class="circles clear">
		<%= image_tag 'circle-thoughts.png', alt: 'body', class: 'thoughts inactive' %>
		<%= image_tag 'circle-feelings.png', alt: 'body', class: 'feelings' %>
		<%= image_tag 'circle-actions.png', alt: 'body', class: 'actions inactive' %>
	</div>
	<div class="stage-controls clear">
		<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
		<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
			<span>Back</span>
		<% end %>
	</div>
</div>