<%
	provide(:body_class, 'chapter-07 best-answer')
	provide(:title, "#{@chapter.display_name}") 
%>
<div class="stage-top">
	<h2><%= raw @section.header_text %></h2>
</div>
<div class="stage-bottom">
	<div class="selector-wrap clear">
		<div class="selector">
			<div class="selector-top">
				<a href="#" class="selector-trigger clear">
					<div class="left"><span></span></div>
					<div class="right">Select an Option</div>
				</a>
			</div>
			<div class="selector-bottom">
				<ul>
					<li>
						<a href="#" data-id="1" data-answer="3" class="clear first">
							<div class="left"><span>1</span></div>
							<div class="right" data-track="0">My friends are laughing at me.</div>
						</a>
					</li>
					<li>
						<a href="#" data-id="2" data-answer="4" class="clear">
							<div class="left"><span>2</span></div>
							<div class="right" data-track="1">My friends must have told a funny joke.</div>
						</a>
					</li>
					<li>
						<a href="#" data-id="3" data-answer="5" class="clear last">
							<div class="left"><span>3</span></div>
							<div class="right" data-track="2">I am being left out.</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="circles clear">
			<%= image_tag 'circle-thoughts.png', alt: 'body', class: 'thoughts' %>
			<%= image_tag 'circle-feelings.png', alt: 'body', class: 'feelings inactive' %>
			<%= image_tag 'circle-actions.png', alt: 'body', class: 'actions inactive' %>
		</div>
	</div>
	<div class="stage-controls clear">
		<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue hidden', :method => :put %>
		<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
<span>Back</span>
<% end %>



	</div>
</div>