<%
	provide(:body_class, 'chapter-03 boy')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage-top">
	<h2><%= @section.header_text %></h2>
</div>
<div class="stage-bottom">
	<div class="clear">
		<div class="left">

			<div class="audio-container" style="display:none;">
				<%= render partial: 'audio' %>
				<audio></audio>
			</div>

			<div class="buttons" data-audio-url="<%= @audioUrl %>">
				<a href="#" class="button green" data-nav-from="feet"><span>Feet</span></a>
				<a href="#" class="button green" data-nav-from="legs"><span>Legs</span></a>
				<a href="#" class="button green" data-nav-from="hands"><span>Hands</span></a>
				<a href="#" class="button green" data-nav-from="neck"><span>Neck and Face</span></a>
				<a href="#" class="button green" data-nav-from="arms"><span>Arms</span></a>
				<a href="#" class="button green" data-nav-from="scb"><span>Stomach, Chest, and Back</span></a>
				<a href="#" class="button green" data-nav-from="full-body"><span>Whole Body</span></a>
			</div>
		</div>
		<div class="right">
			<div class="bodies">
				<%= image_tag "boy-clothed-base.png", alt: "boy", class:"body default" %>
				<%= content_tag "img", '', src: asset_path('boy-clothed-feet.png'), alt: "boy", class: "body", "data-nav-to" => "feet" %>
				<%= content_tag "img", '', src: asset_path('boy-clothed-legs.png'), alt: "boy", class: "body", "data-nav-to" => "legs" %>
				<%= content_tag "img", '', src: asset_path('boy-clothed-hands.png'), alt: "boy", class: "body", "data-nav-to" => "hands" %>
				<%= content_tag "img", '', src: asset_path('boy-clothed-neck.png'), alt: "boy", class: "body", "data-nav-to" => "neck" %>
				<%= content_tag "img", '', src: asset_path('boy-clothed-arms.png'), alt: "boy", class: "body", "data-nav-to" => "arms" %>
				<%= content_tag "img", '', src: asset_path('boy-clothed-scb.png'), alt: "boy", class: "body", "data-nav-to" => "scb" %>
				<%= content_tag "img", '', src: asset_path('boy-clothed-full-body.png'), alt: "boy", class: "body", "data-nav-to" => "full-body" %>
			</div>
		</div>
		<div class="success-check"></div>
	</div>
	<div class="stage-controls clear">
		<%= link_to content_tag(:span, 'Finish'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green finish', :method => :put %>
		<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
<span>Back</span>
<% end %>



	</div>
</div>