<%
	provide(:body_class, 'chapter-04 boys')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage-top">
	<h2><%= @section.header_text.gsub("$GENDER_PRONOUN_PLURAL", @gender_pronoun_plural)%></h2>
</div>
<div class="stage-bottom">
	<div class="selector-wrap clear">
		<div class="selector">
			<div class="selector-top">
				<a href="#" class="selector-trigger clear">
					<div class="left"><span></span></div>
					<div class="right">Select an Option</div>
				</a>
			</div>
			<div class="selector-bottom">
				<ul>
					<% @section.section_questions.order(:sequence).each do |q| %>
					<li>
						<a href="#" data-id="<%= q.sequence %>" data-answer="<%= q.answer_boys_reduced %>" class="clear <%= q.sequence == 1 ? 'first' : '' %>">
							<div class="left"><span><%= q.sequence %></span></div>
							<div class="right">...<%= q.question %>?</div>
						</a>
					</li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="bodies clear">
			<a href="#" class="coin clear">
				<%= image_tag 'boy-clothed-small-base.png', alt: 'body', class: 'heads' %>
				<%= image_tag 'boy-clothed-small-01.png', alt: 'body', class: 'tails' %>
			</a>
			<a href="#" class="coin clear">
				<%= image_tag 'boy-clothed-small-base.png', alt: 'body', class: 'heads' %>
				<%= image_tag 'boy-clothed-small-02.png', alt: 'body', class: 'tails' %>
			</a>
			<a href="#" class="coin clear">
				<%= image_tag 'boy-clothed-small-base.png', alt: 'body', class: 'heads' %>
				<%= image_tag 'boy-clothed-small-03.png', alt: 'body', class: 'tails' %>
			</a>
			<a href="#" class="coin clear">
				<%= image_tag 'boy-clothed-small-base.png', alt: 'body', class: 'heads' %>
				<%= image_tag 'boy-clothed-small-04.png', alt: 'body', class: 'tails' %>
			</a>
			<a href="#" class="coin clear">
				<%= image_tag 'boy-clothed-small-base.png', alt: 'body', class: 'heads' %>
				<%= image_tag 'boy-clothed-small-05.png', alt: 'body', class: 'tails' %>
			</a>
			<a href="#" class="coin clear">
				<%= image_tag 'boy-clothed-small-base.png', alt: 'body', class: 'heads' %>
				<%= image_tag 'boy-clothed-small-06.png', alt: 'body', class: 'tails' %>
			</a>
			<a href="#" class="coin clear">
				<%= image_tag 'boy-clothed-small-base.png', alt: 'body', class: 'heads' %>
				<%= image_tag 'boy-clothed-small-07.png', alt: 'body', class: 'tails' %>
			</a>
			<a href="#" class="coin clear">
				<%= image_tag 'boy-clothed-small-base.png', alt: 'body', class: 'heads' %>
				<%= image_tag 'boy-clothed-small-08.png', alt: 'body', class: 'tails' %>
			</a>
			<a href="#" class="coin clear">
				<%= image_tag 'boy-clothed-small-base.png', alt: 'body', class: 'heads' %>
				<%= image_tag 'boy-clothed-small-07.png', alt: 'body', class: 'tails' %>
			</a>
			<a href="#" class="coin clear">
				<%= image_tag 'boy-clothed-small-base.png', alt: 'body', class: 'heads' %>
				<%= image_tag 'boy-clothed-small-06.png', alt: 'body', class: 'tails' %>
			</a>
			<a href="#" class="coin clear">
				<%= image_tag 'boy-clothed-small-base.png', alt: 'body', class: 'heads' %>
				<%= image_tag 'boy-clothed-small-05.png', alt: 'body', class: 'tails' %>
			</a>
			<a href="#" class="coin clear">
				<%= image_tag 'boy-clothed-small-base.png', alt: 'body', class: 'heads' %>
				<%= image_tag 'boy-clothed-small-08.png', alt: 'body', class: 'tails' %>
			</a>
			<a href="#" class="coin clear">
				<%= image_tag 'boy-clothed-small-base.png', alt: 'body', class: 'heads' %>
				<%= image_tag 'boy-clothed-small-01.png', alt: 'body', class: 'tails' %>
			</a>
			<a href="#" class="coin clear">
				<%= image_tag 'boy-clothed-small-base.png', alt: 'body', class: 'heads' %>
				<%= image_tag 'boy-clothed-small-02.png', alt: 'body', class: 'tails' %>
			</a>
			<a href="#" class="coin clear">
				<%= image_tag 'boy-clothed-small-base.png', alt: 'body', class: 'heads' %>
				<%= image_tag 'boy-clothed-small-03.png', alt: 'body', class: 'tails' %>
			</a>
			<a href="#" class="coin clear">
				<%= image_tag 'boy-clothed-small-base.png', alt: 'body', class: 'heads' %>
				<%= image_tag 'boy-clothed-small-06.png', alt: 'body', class: 'tails' %>
			</a>
			<a href="#" class="coin clear">
				<%= image_tag 'boy-clothed-small-base.png', alt: 'body', class: 'heads' %>
				<%= image_tag 'boy-clothed-small-05.png', alt: 'body', class: 'tails' %>
			</a>
			<a href="#" class="coin clear">
				<%= image_tag 'boy-clothed-small-base.png', alt: 'body', class: 'heads' %>
				<%= image_tag 'boy-clothed-small-04.png', alt: 'body', class: 'tails' %>
			</a>
			<a href="#" class="coin clear">
				<%= image_tag 'boy-clothed-small-base.png', alt: 'body', class: 'heads' %>
				<%= image_tag 'boy-clothed-small-01.png', alt: 'body', class: 'tails' %>
			</a>
			<a href="#" class="coin clear">
				<%= image_tag 'boy-clothed-small-base.png', alt: 'body', class: 'heads' %>
				<%= image_tag 'boy-clothed-small-02.png', alt: 'body', class: 'tails' %>
			</a>
		</div>
		<div class="answers">
			<% @section.section_questions.order(:sequence).each do |q| %>
			<h3 class="answer" data-id="<%= q.sequence %>"><span></span> out of these 20 boys <%= q.question %>. That's <%= q.answer_boys %> out of every 100 boys. You are not alone.</h3>
			<% end %>
		</div>
	</div>
	<div class="stage-controls clear">
		<a href="#" class="button check"><span>Check My Answer</span></a>
	</div>
	<div class="stage-controls clear">
		<%= link_to content_tag(:span, @section.sequence == 2 ? 'Continue' : 'Finish'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green finish', :method => :put %>
		<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
			<span>Back</span>
		<% end %>
	</div>
</div>