<%
	provide(:body_class, 'chapter-09 audio list exercise')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage">
	<div class="stage-top">
		<h2><%= @name %>'s List</h2>
	</div>
	<div class="stage-bottom">
		<div class="clear">
			<div class="list"></div>
			<div class="list-items">
				<div class="tip"></div>
				<h3>1. Hearing other people shout at each other<span class="bar"></span></h3><br />
				<h3>2. Sneaking out of the house when I need space<span class="bar"></span></h3><br />
				<h3>3. Writing a letter to my father<span class="bar"></span></h3><br />
				<h3>4. Watching a movie or show with a man and a woman fighting<span class="bar"></span></h3><br />
				<h3>5. Confronting my father in jail<span class="bar"></span></h3><br />
				<h3>6. Hearing a door slam<span class="bar"></span></h3><br />
				<h3>7. Talking with my mother about domestic violence<span class="bar"></span></h3><br />
				<h3>8. Giving a presentation to my class<span class="bar"></span></h3><br />
			</div>
		</div>
		
		<%= render partial: 'audio' %>
		
		<div class="stage-controls">
			<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
			<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
				<span>Back</span>
			<% end %>
		</div>
	</div>
</div>