<%
	provide(:body_class, 'chapter-06 charades under-12')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage-top">
	<h2>Try it: Spin the Wheel.</h2>
</div>
<div class="stage-bottom">
	<div class="clear">
		<div class="left">
			<div class="spinner-wrap">
				<div class="spinner">
					<div class="slides">
						<div class="slide dark"><span>Happy</span></div>
						<div class="slide medium"><span>Sad</span></div>
						<div class="slide middle"><span>Scared</span></div>
						<div class="slide medium"><span>Angry</span></div>
						<div class="slide dark"><span>Excited</span></div>
						<div class="slide hidden"><span>Upset</span></div>
						<div class="slide hidden"><span>Hurt</span></div>
						<div class="slide hidden"><span>Disgusted</span></div>
						<div class="slide hidden"><span>Shame</span></div>
						<div class="slide hidden"><span>Guilt</span></div>
						<div class="slide hidden"><span>Embarrassed</span></div>
						<div class="slide hidden"><span>Nervous</span></div>
						<div class="slide hidden"><span>Confused</span></div>
						<div class="slide hidden"><span>Pick Your Own</span></div>
					</div>
					<div class="shadow up"></div>
					<div class="shadow down"></div>
					<div class="arrow-left"></div>
					<div class="arrow-right"></div>
				</div>
			</div>
		</div>
		<div class="right">
			<h5>How strong are your feelings?</h5>
			<div class="clear">
				<div class="lefty">
					<ul>
						<li><a href="#" class="button small red" data-color="red"><span>10</span></a></li>
						<li><a href="#" class="button small red-1" data-color="red-1"><span>9</span></a></li>
						<li><a href="#" class="button small red-2" data-color="red-2"><span>8</span></a></li>
						<li><a href="#" class="button small red-3" data-color="red-3"><span>7</span></a></li>
						<li><a href="#" class="button small red-4" data-color="red-4"><span>6</span></a></li>
						<li><a href="#" class="button small blue-4" data-color="blue-4"><span>5</span></a></li>
						<li><a href="#" class="button small blue-3" data-color="blue-3"><span>4</span></a></li>
						<li><a href="#" class="button small blue-2" data-color="blue-2"><span>3</span></a></li>
						<li><a href="#" class="button small blue-1" data-color="blue-1"><span>2</span></a></li>
						<li><a href="#" class="button small blue" data-color="blue"><span>1</span></a></li>
					</ul>
				</div>
				<div class="righty">
					<ul>
						<li>Very Strong</li>
						<li>&nbsp;</li>
						<li>Somewhat Strong</li>
						<li>&nbsp;</li>
						<li>Medium</li>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
						<li>A Little</li>
						<li>&nbsp;</li>
						<li>Not At All</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="stage-controls clear">
		<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
		<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
<span>Back</span>
<% end %>



	</div>
</div>