<%
	provide(:body_class, 'chapter-09 audio exercise')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage">
	<div class="stage-top">
	</div>
	<div class="stage-bottom">
		<div class="clear">
			<div class="left">
				<%= image_tag "#{@gender}-profile.png", alt: @gender.capitalize %>
			</div>
			<div class="right">
				<h3><%= @name %> is a 15 year old <%= @gender %> who was physically abused by <%= @possessive %> mother. <%= @direct.capitalize %> went to the kitchen to get some chocolate cookies late at night and broke a dish.</h3>
				<h3><%= @possessive.capitalize %> mother was very angry, began hitting <%= @pronoun %>, and badly hurt <%= @pronoun %>. <%= @name %> is now living with <%= @possessive %> grandparents.</h3>
			</div>
		</div>

		<%= render partial: 'audio' %>
		
		<div class="stage-controls">
			<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
			<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
				<span>Back</span>
			<% end %>
		</div>
	</div>
</div>