<%
	provide(:body_class, 'chapter-05 decks')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage-top">
	<h2><%= @section.header_text %></h2>
</div>
<div class="stage-bottom">
	<div class="clear deck-list">
		<% current_provider.decks.where(section_id:@section).each_with_index do |deck,index| %>
	
			<%= link_to finish_chapter_section_path(@chapter, @section.sequence, :deck_id => deck.id, :deck_index => index+1), class: "deck #{deck.body_class}", :method => :put do %>
				<%= image_tag "deck-#{deck.body_class}.png", alt: 'deck' %>
				<h4><%= index+1 %></h4>
				<h3><%= deck.title %></h3>
			<% end %>

		<% end %>
	</div>
	<div class="stage-controls clear">
		<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
		<span>Back</span>
		<% end %>
		<%= link_to content_tag(:span, 'Finish'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
	</div>
	
</div>