<%
	provide(:body_class, 'chapter-06 charades over-12')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage-top">
	<h2><%= @section.header_text %></h2>
</div>
<div class="stage-bottom">
	<div class="clear">
		<div class="left">
			<div class="spinner-wrap">
				<div class="spinner">
					<div class="slides">
						<div class="slide dark"><span>Happy</span></div>
						<div class="slide medium"><span>Sad</span></div>
						<div class="slide middle"><span>Scared</span></div>
						<div class="slide medium"><span>Angry</span></div>
						<div class="slide dark"><span>Excited</span></div>
						<div class="slide hidden"><span>Upset</span></div>
						<div class="slide hidden"><span>Hurt</span></div>
						<div class="slide hidden"><span>Disgusted</span></div>
						<div class="slide hidden"><span>Shame</span></div>
						<div class="slide hidden"><span>Guilt</span></div>
						<div class="slide hidden"><span>Embarrassed</span></div>
						<div class="slide hidden"><span>Nervous</span></div>
						<div class="slide hidden"><span>Confused</span></div>
						<div class="slide hidden"><span>Pick Your Own</span></div>
					</div>
					<div class="shadow up"></div>
					<div class="shadow down"></div>
					<div class="arrow-left"></div>
					<div class="arrow-right"></div>
				</div>
			</div>
		</div>
		<div class="right"></div>
	</div>
	<div class="stage-controls clear">
		<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
		<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
<span>Back</span>
<% end %>

	<% if @patient.age >= 13 || @patient.age <= 15 %>
 	<div class="provider-notes">
		<div class="tab">
			<h5>Questions</h5>
		</div>
		<div class="notes">
			<h3>Questions to Consider</h3>
			<div class="note">
			<ul>
				<li>How would I know that you are feeling that way? What would I see you do?</li>
	 			<li>How would you know that you were feeling that way? Would things change in your body?</li>
	 			<li>How would you know that other people are feeling that way?</li>
	 			<li>How is that feeling different from other feelings on the wheel? How is it similar?</li>
			</ul>
			</div>
		</div>
	</div>
	<% end %>

	</div>
</div>