<%
	provide(:body_class, 'chapter-07 matching')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage-top">
	<h2><%= @section.header_text %></h2>
</div>
<div class="stage-bottom">
	<div class="clear">
		<div class="left">
			<ul class="buttons">
				<li><a href="#" class="button crying lefty"><span>Crying</span><em class="tip"></em></a></li>
				<li><a href="#" class="button breath lefty"><span>Take a deep breath</span><em class="tip"></em></a></li>
				<li><a href="#" class="button happy lefty"><span>Happy</span><em class="tip"></em></a></li>
				<li><a href="#" class="button mad lefty"><span>Mad</span><em class="tip"></em></a></li>
				<li><a href="#" class="button do lefty"><span>I can do it</span><em class="tip"></em></a></li>
				<li><a href="#" class="button smart lefty"><span>I'm smart</span><em class="tip"></em></a></li>
			</ul>
		</div>
		<div class="right">
			<%= image_tag 'circle-thoughts.png', alt: 'thoughts'%>
			<%= image_tag 'circle-feelings.png', alt: 'feelings'%>
			<%= image_tag 'circle-actions.png', alt: 'actions'%>
			<div class="accepts">
				<div class="thoughts accept"></div>
				<div class="feelings accept"></div>
				<div class="actions accept"></div>
			</div>
		</div>
		<div class="success-check"></div>
	</div>
	<div class="stage-controls clear">
		<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
		<%= link_to content_tag(:span, 'Skip'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button skip', :method => :put %>
		<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
<span>Back</span>
<% end %>



	</div>
</div>