<%
	provide(:body_class, 'chapter-01 boy-front')
	provide(:title, "#{@chapter.display_name}")
%>

<div class="stage-top">
	<h2><%= @section.header_text %></h2>
</div>
<div class="stage-bottom">
	<div class="clear">
		<div class="left">
			<ul class="buttons">
				<li><a href="#" class="button breasts righty"><span>Chest</span><em class="tip"></em></a></li>
				<li><a href="#" class="button arms lefty"><span>Arms</span><em class="tip"></em></a></li>
				<li><a href="#" class="button vagina lefty"><span>Penis</span><em class="tip"></em></a></li>
				<li><a href="#" class="button legs righty"><span>Legs</span><em class="tip"></em></a></li>
				<li><a href="#" class="button stomach righty"><span>Stomach</span><em class="tip"></em></a></li>
				<li><a href="#" class="button head lefty"><span>Head</span><em class="tip"></em></a></li>
			</ul>
		</div>
		<div class="right">
			<%= image_tag "boy-front.png", alt: "boy" %>
			<div class="accepts">
				<div class="breasts accept"></div>
				<div class="arms accept"></div>
				<div class="vagina accept"></div>
				<div class="legs accept"></div>
				<div class="stomach accept"></div>
				<div class="head accept"></div>
			</div>
		</div>
		<div class="success-check"></div>
	</div>
	<div class="stage-controls clear">
		<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
		<%= link_to content_tag(:span, 'Skip'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button skip', :method => :put %>
		<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
		<span>Back</span>
		<% end %>
	</div>
</div>