<%
	provide(:body_class, 'chapter-09 audio ladder')
	provide(:title, "#{@chapter.display_name}")
%>

<div class="stage">
	<div class="stage-top">
		<h2><%= @name %>'s Ladder</h2>
	</div>
	<div class="stage-bottom">
		<div class="clear">
			<div class="ladder-items">
				<div class="ladder-item top">
					<h3 class="one">Going to the school bathroom by myself<span class="tip"></span></h3>
				</div>
				<div class="ladder-item">
					<h3 class="two">Confronting the bully with the help of a trusted adult<span class="tip"></span></h3>
				</div>
				<div class="ladder-item">
					<h3 class="three">Talking to a trusted adult about the bullying<span class="tip"></span></h3>
				</div>
				<div class="ladder-item">
					<h3 class="four">Writing a letter to the bully<span class="tip"></span></h3>
				</div>
				<div class="ladder-item">
					<h3 class="five">Watching a movie or TV show with kids being bullied<span class="tip"></span></h3>
				</div>
			</div>
		</div>
		
		<%= render partial: 'audio' %>
		
		<div class="stage-controls">
			<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
			<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
				<span>Back</span>
			<% end %>
		</div>
	</div>
</div>