<%
	provide(:body_class, 'chapter-11 videos')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage-top">
	<h2><%= "#{@deck.title} - #{@section.header_text}" %></h2>
</div>
<div class="stage-bottom">
	<div class="slideshow swipable clear">
		<div class="slide-wrap">
			<% @deck.cards.where(active:true).each_with_index do |card, index| %>
			<div class="slide<%= index == 0 ? " first" : ""%>" data-card-id="card-<%= index + 1 %>">
				<div class="video-overlay"></div>
				<%= render partial: 'video', locals: {vimeo_url: card.vimeo_url} %>

				<div class="caption"><%= card.question %></div>
			</div>
			<% end %>
		</div>
	</div>
	<div class="slideshow-controls clear">
		<% @deck.cards.where(active:true).each_with_index do |card, index| %>
		<a href="#" class="pick<%= index == 0 ? " current" : "" %>">pick</a>
		<% end %>
		<a href="#" class="previous">previous</a>
		<a href="#" class="next">next</a>
	</div>
	<div class="stage-controls clear">
		<%= link_to content_tag(:span, 'Finish'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
		<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
<span>Back</span>
<% end %>



	</div>
</div>