<%
	provide(:body_class, 'misc patient chapters')
	provide(:title, "Parenting")
%>

<div class="stage-top">
	<h2>Parenting</h2>
</div>
<div class="stage-bottom">
	<h3>Select a Topic</h3>
	
	<div class="chapter-buttons clear">
	<% current_provider.decks.where(section_id:@section).each_with_index do |deck,index| %>
		<%= link_to content_tag(:span, "#{index+1} - #{deck.title}"), chapter_section_path(@chapter,@section.sequence+1, deck_id: deck.id, deck_index: index + 1), class: 'button green' %>
	<% end %>
	</div>

	<div class="stage-controls">
	<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
		<span>Back</span>
	<% end %>
	</div>
</div>