<%
	provide(:body_class, 'chapter-09 audio ladder')
	provide(:title, "#{@chapter.display_name}")
%>

<div class="stage">
	<div class="stage-top">
		<h2><%= @name %>'s Ladder</h2>
	</div>
	<div class="stage-bottom">
		<div class="clear">
			<div class="ladder-items">
				<div class="ladder-item top">
					<h3 class="one">Talking to family and friends who were also affected by the Hurricane<span class="tip"></span></h3>
				</div>
				<div class="ladder-item">
					<h3 class="two">Looking through old pictures of my dog and my house<span class="tip"></span></h3>
				</div>
				<div class="ladder-item">
					<h3 class="three">Watching a storm through a window<span class="tip"></span></h3>
				</div>
				<div class="ladder-item">
					<h3 class="four">Having a funeral for my dog<span class="tip"></span></h3>
				</div>
				<div class="ladder-item">
					<h3 class="five">Watching a video or news show about the Hurricane<span class="tip"></span></h3>
				</div>
			</div>
		</div>
		
		<%= render partial: 'audio' %>
		
		<div class="stage-controls">
			<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
			<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
				<span>Back</span>
			<% end %>
		</div>
	</div>
</div>