<%
	provide(:body_class, 'chapter-video')
	provide(:title, "#{@chapter.display_name}")

	# Get cookies
	track_id = cookies[:chapter07_trackID].to_i
	#current_track_position = @tracks[track_id][0].to_i
	video_id = @videos[track_id]
%>
<div class="stage-top">
	<h2><%= @section.header_text %></h2>
</div>
<div class="stage-bottom">
	<div class="clear">
		<%= render partial: 'video', locals: {vimeo_url: video_id} %>
	</div>
	<div class="stage-controls clear">
		<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
		<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
			<span>Back</span>
		<% end %>
	</div>
</div>