<%
	provide(:body_class, 'chapter-09 audio exercise')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage">
	<div class="stage-top">
	</div>
	<div class="stage-bottom">
		<div class="clear">
			<div class="left">
				<%= image_tag "#{@gender}-profile.png", alt: @gender.capitalize %>
			</div>
			<div class="right">
				<h3><%= @name %> saw <%= @possessive %> father hurt <%= @possessive %> mother in <%= @possessive %> home. Her father would often yell and hit <%= @possessive %> mother. A lot of times this would happen after his father came home from work.</h3>
				<h3><%= @name %> knew it would probably be a bad night when <%= @possessive %> father slammed the door and looked like he was in a bad mood when he came home. <%= @name %>'s father was arrested and is currently in jail.</h3>
			</div>
		</div>
		
		<%= render partial: 'audio' %>
		
		<div class="stage-controls">
			<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
			<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
				<span>Back</span>
			<% end %>
		</div>
	</div>
</div>