<%
	provide(:body_class, 'chapter-07 best-answer multiple-choice')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage-top">
	<h2><%= @section.header_text %></h2>
</div>
<div class="stage-bottom">
	<div class="circles clear">
		<%= image_tag 'circle-thoughts.png', alt: 'body', class: 'thoughts inactive' %>
		<%= image_tag 'circle-feelings.png', alt: 'body', class: 'feelings ianctive' %>
		<%= image_tag 'circle-actions.png', alt: 'body', class: 'actions' %>
	</div>
	<h2>She will...</h2>
	<div class="buttons">
		<a href="#" class="button sad note" data-note="Maybe. But this is a positive action and, usually, when people have negative thoughts and feelings they have negative actions too."><span>study harder</span></a>
		<%= link_to content_tag(:span, 'not study harder'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button angry', :method => :put %>
	</div>
	<div class="stage-controls clear">
		<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
			<span>Back</span>
		<% end %>
	</div>
</div>