<%
	provide(:body_class, 'chapter-09 audio exercise')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage">
	<div class="stage-top">
	</div>
	<div class="stage-bottom">
		<div class="clear">
			<div class="left">
				<%= image_tag "#{@gender}-profile.png", alt: @gender.capitalize %>
			</div>
			<div class="right">
				<h3><%= @name %> is a 10 year old <%= @gender %> who was sexually abused by <%= @possessive %> uncle at a birthday party. The birthday party was at <%= @possessive %> grandmother's house.</h3>
				<h3>The abuse happened in the bathroom and <%= @possessive %> uncle was chewing mint gum at the time. The police were told, and <%= @name %> uncle had to go to jail.</h3>
			</div>
		</div>
		
		<%= render partial: 'audio' %>
		
		<div class="stage-controls">
			<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
			<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
				<span>Back</span>
			<% end %>
		</div>
	</div>
</div>