<%
	provide(:body_class, 'chapter-09 audio list exercise')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage">
	<div class="stage-top">
		<h2><%= @name %>'s List</h2>
	</div>
	<div class="stage-bottom">
		<div class="clear">
			<div class="list"></div>
			<div class="list-items">
				<div class="tip"></div>
				<h3>1. Eating a snack at night time<span class="bar"></span></h3><br />
				<h3 class="crossed">2. Breaking more dishes<span class="bar"></span></h3><br />
				<h3>3. Going into a kitchen<span class="bar"></span></h3><br />
				<h3>4. Holding a dish that can break<span class="bar"></span></h3><br />
				<h3 class="crossed">5. Moving into my own home<span class="bar"></span></h3><br />
				<h3>6. Baking chocolate cookies<span class="bar"></span></h3><br />
				<h3>7. Asking my grandmother for a snack after dinner<span class="bar"></span></h3><br />
				<h3 class="crossed">8. Giving a presentation to my class<span class="bar"></span></h3><br />
			</div>
		</div>
		
		<%= render partial: 'audio' %>
		
		<div class="stage-controls">
			<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
			<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
				<span>Back</span>
			<% end %>
		</div>
	</div>
</div>