<%
	provide(:body_class, 'chapter-09 audio exercise')
	provide(:title, "#{@chapter.display_name}")
%>
<div class="stage">
	<div class="stage-top">
	</div>
	<div class="stage-bottom">
		<div class="clear">
			<div class="left">
				<%= image_tag "#{@gender}-profile.png", alt: @gender.capitalize %>
			</div>
			<div class="right">
				<h3><%= @name %> is being picked on by a group of kids at school. They call <%= @pronoun %> names a lot.</h3>
				<h3>One time they cornered <%= @pronoun %> in the school bathroom and threatened <%= @pronoun %>, making <%= @pronoun %> feel scared.</h3>
			</div>
		</div>
		
		<%= render partial: 'audio' %>
		
		<div class="stage-controls">
			<%= link_to content_tag(:span, 'Continue'), finish_chapter_section_path(@chapter, @section.sequence), class: 'button green continue', :method => :put %>
			<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
				<span>Back</span>
			<% end %>
		</div>
	</div>
</div>