<% 
	provide(:body_class, 'misc log-in new-patient')
	provide(:title, 'Edit patient information') 
%>

<%= form_for(@patient) do |f| %>

	<section class="stage-section stage-01 new-patient-info current new-patient-info-form">

		<div class="stage-top">
			<h2>Patient Profile: <span class="lookup-id"><%= @patient.lookup_id %></span></h2>
		</div>
		<div class="stage-bottom">

			<div class="tame-stage">
	
			<div class="input-row clear">
				<div class="age">
					<label>Age</label>
					<%= f.text_field :age, :required => true, :maxlength => 2 %>
				</div>
				<div class="race">
					<%= f.label :race %>
					<%= collection_select(:patient, :race_id, Race.all, :id, :description, :include_blank => 'Select an option')%>
				</div>
				<div class="ethnicity">
					<%= f.label :ethnicity %>
					<%= collection_select(:patient, :ethnicity_id, Ethnicity.all, :id, :description, :include_blank => 'Select an option')%>
				</div>
			</div>

			<div class="input-row clear">
				<div class="trauma-1 half">
					<%= label_tag "Index Trauma 1"%>
					<%= collection_select(:patient, :trauma1_id, Trauma.all, :id, :description, :include_blank => 'Select an option')%>
				</div>
				<div class="trauma-1 half end">
					<%= label_tag "Index Trauma 2"%>
					<%= collection_select(:patient, :trauma2_id, Trauma.all, :id, :description, :include_blank => 'Select an option')%>
				</div>
			</div>

			<div class="input-row clear">
				<div class="trauma-3 half">
					<%= label_tag "Index Trauma 3"%>
					<%= collection_select(:patient, :trauma3_id, Trauma.all, :id, :description, :include_blank => 'Select an option')%>
				</div>
				<div class="trauma-4 half end">
					<%= label_tag "Index Trauma 4"%>
					<%= collection_select(:patient, :trauma4_id, Trauma.all, :id, :description, :include_blank => 'Select an option')%>
				</div>
			</div>

			<div class="input-row clear">
				<div class="half">
					<%= f.label :gender %>
					<%= collection_select(:patient, :gender_id, Gender.all, :id, :description, :include_blank => 'Select an option')%>
				</div>
			</div>

			
		</div>
		
		<div class="stage-controls clear">
				<a href="#" class="button green"><span onclick="$('form.edit_patient').submit();">Save Changes</span></a>
				<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
				<span>Back</span>
				<% end %>
			</div>

	</section>
<% end %>
