<%
	provide(:body_class, 'misc log-in new-patient')
	provide(:title, 'Create new patient')
%>

<%= form_for([@provider, @patient]) do |f| %>

<%

# add a note for creating patient ids
	
@section = Section.new
@note = Note.new
	
@note.content = "<p>It is important that you protect patient confidentiality by avoiding use of real names and details that can easily identify a patient. However, if you have a large caseload, some descriptors can be helpful. Here are several ways that you can create patient IDs in the system.</p>"

@note.content += "<h3>Here are a few examples:</h3>"
@note.content += "<p>1. Patient initials and the month/year of the intake <br />Example: Kerry Reid completed her intake on April 9, 2013. <br />You might use: KRapril13</p>"
@note.content += "<p>2. Facts related to patient demographics and history <br />Example: Nine year-old boy who was physical abused. <br />You might use: 9boyPA</p>"
@note.content += "<p>Example: African American girl who witnessed domestic violence. <br />You might use: AAgirlDV</p>"
@note.content += "<p>3. Patient initials, presenting trauma, and demographic information <br />Example: Dean Wills is a 10 year old boy who experienced sexual abuse. <br />You might use: DW10SA</p>"
	
@section.notes << @note
	
%>

<section class="stage-section stage-01 new-patient-id current new-patient-id-form">

	<div class="stage-top">
		<h2>Enter New Patient ID.</h2>
	</div>
	<div class="stage-bottom">
		<h3>Before creating a patient ID, please read the Provider tip on the tab below</h3>
		<% if @patient.errors.any? %>
			<div class="color-red">
				<ul>
					<% @patient.errors.full_messages.each do |error| %>
					<li><%= error %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		<div class="clear">
			<label>Maximum of 12 characters.</label>
			<%= f.text_field :lookup_id, :required => true, :maxlength => 12 %>
		</div>
		<div class="stage-controls clear">
			<a href="#" class="button continue"><span>Continue</span></a>
			<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
			<span>Back</span>
			<% end %>
		</div>
	</div>

</section>

<section class="stage-section stage-02 new-patient-info new-patient-info-form">

	<div class="stage-top">
		<h2>Patient Profile: <span class="lookup-id"></span></h2>
	</div>
	<div class="stage-bottom">

		<div class="tame-stage">
		
		<h3 class="required">Required fields are marked with <span>*</span></h3>
	
		<div class="input-row clear">
			<div class="age">
				<label>Age<span>*</span></label>
				<%= f.text_field :age, :required => true, :maxlength => 2 %>
			</div>
			<div class="race">
				<label>Race<span>*</span></label>
				<%= collection_select(:patient, :race_id, Race.all, :id, :description, :include_blank => 'Select an option')%>
			</div>
			<div class="ethnicity">
				<label>Ethnicity<span>*</span></label>
				<%= collection_select(:patient, :ethnicity_id, Ethnicity.all, :id, :description, :include_blank => 'Select an option')%>
			</div>
		</div>

		<div class="input-row clear">
			<div class="trauma-1 half">
				<label>Index Trauma 1<span>*</span></label>
				<%= collection_select(:patient, :trauma1_id, Trauma.all, :id, :description, :include_blank => 'Select an option')%>
			</div>
			<div class="trauma-1 half end">
				<%= label_tag "Index Trauma 2"%>
				<%= collection_select(:patient, :trauma2_id, Trauma.all, :id, :description, :include_blank => 'Select an option')%>
			</div>
		</div>

		<div class="input-row clear">
			<div class="trauma-3 half">
				<%= label_tag "Index Trauma 3"%>
				<%= collection_select(:patient, :trauma3_id, Trauma.all, :id, :description, :include_blank => 'Select an option')%>
			</div>
			<div class="trauma-4 half end">
				<%= label_tag "Index Trauma 4"%>
				<%= collection_select(:patient, :trauma4_id, Trauma.all, :id, :description, :include_blank => 'Select an option')%>
			</div>
		</div>
		
		<div class="input-row clear">
			<div class="half">
				<label>Gender<span>*</span></label>
				<%= collection_select(:patient, :gender_id, Gender.all, :id, :description, :include_blank => 'Select an option')%>
			</div>
		</div>
		
		</div>

		<div class="stage-controls clear">
			<a href="#" class="button"><span onclick="document.getElementById('new_patient').submit();">Create New Patient</span></a>
			<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
			<span>Back</span>
			<% end %>
		</div>

</section>

<% end %>
