<%
	provide(:body_class, 'misc patient-home')
	provide(:title, 'Patient information')
%>


<div class="stage-bottom clear">
	<div class="left">
		<h2><%= @patient.lookup_id %></h2>
		
		<p>
			<span>Last Chapter Completed:</span>
			<ul>
				<% @last_chapter = @patient.interactions.order(:created_at).where(description: 'Visit').last.try(:section).try(:chapter) %>
				<li class="color-green"><%= @last_chapter.try(:display_name) %>&nbsp;</li>
			</ul>
		</p>

		<p>
			<span>Status:</span>
			<span class="color-green">
			<% if @patient.is_active? %>
				<span class="color-green">Active</span>
			<% else %>
				<span class="color-red">Inactive</span>
			<% end %>
			</span>
			
			<span class="bump">Gender:</span>
			<span class="color-green"><%= @patient.gender.try(:description) %></span>
		</p>
		
		<hr/>
		
		<p>
			<span>Age:</span>
			<span class="color-green"><%= @patient.age %></span>
			
			<span class="bump">Ethnicity:</span>
			<span class="color-green"><%= @patient.ethnicity.try(:description) %></span>
		</p>
		
		<p>
			<span>Race:</span>
			<span class="color-green"><%= @patient.race.try(:description) %></span>
		</p>
		<p>
			<span>Index Traumas:</span>
			<ul>
			<li class="color-green"><%= @patient.trauma1.try(:description) %>&nbsp;</li>
			<li class="color-green"><%= @patient.trauma2.try(:description) %>&nbsp;</li>
			<li class="color-green"><%= @patient.trauma3.try(:description) %>&nbsp;</li>
			<li class="color-green"><%= @patient.trauma4.try(:description) %>&nbsp;</li>
			</ul>
		</p>
		<%= link_to content_tag(:span, 'Edit Patient Record'), edit_patient_path(@patient), class: 'button edit' %>
	</div>
	<div class="right clear">
		<h2>Assigned Homework</h2>
		<div class="check-rows">
			<% listed_categories = [] %>
			<% @assignments.each do |assignment| %>
				<% unless listed_categories.include?(assignment.homework_category_id) %>
					<div class="check-row header">
						<h4><%= assignment.homework_category.description %></h4>
					</div>
					<% listed_categories << assignment.homework_category_id %>
				<% end %>
				<div class="check-row">
					<h4><%= assignment.description %></h4>
				</div>
			<% end %>
		</div>
	</div>
</div>
<div class="button-row clear">
	<% if @patient.is_active? %>
		<%= link_to content_tag(:span, 'Mark as Inactive'), deactivate_patient_path(@patient), class: 'button edit', :method => :put %>
	<% else %>
		<%= link_to content_tag(:span, 'Mark as Active'), activate_patient_path(@patient), class: 'button edit', :method => :put %>	
	<% end %>
	<%= link_to content_tag(:span, 'Main Menu'), @patient.provider, class: 'button edit' %>
	<%= link_to content_tag(:span, 'Start Session'), start_patient_session_path(@patient), class: 'button green start', :method => :put %>
</div>


