<%
	provide(:body_class, 'misc log-in')
	provide(:title, 'MUSC TFCBT')
%>
<div class="stage-bottom">
	<h2>eTF-CBT</h2>
	<h6>Medical University of South Carolina</h6>

	<div class="log-in-form">

		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			<div>
				<%= f.label 'Username' %>
				<%= f.email_field :email, :autofocus => true %>
			</div>

			<div>
				<%= f.label :password %>
				<%= f.password_field :password %>
			</div>

		  	<% if devise_mapping.rememberable? %>
		    	<div>
					<%= f.label :remember_me %> <%= f.check_box :remember_me %>
				</div>
			<% end -%>

			<div class="clear">
				<a href="#" class="button green log-in"><span onclick="document.getElementById('new_provider').submit();">Continue</span></a>
			</div>
		<% end %>

		<div class="clear">
			<p><%= render "devise/shared/links" %></p>
		</div>
	</div>

</div>
