<% if video_url = get_vimeo_embed_url(vimeo_url, gender) %>
<div class="video-embed">
	<iframe src="<%= video_url %>"
			width="640"
			height="360"
			frameborder="0"
			webkitallowfullscreen
			mozallowfullscreen
			allowfullscreen>
	</iframe>
</div>
<% end %>
