<%
	provide(:body_class, 'chapter-video')
	provide(:title, "Prepare for Chapter #{@chapter.display_name}")
%>
<div class="stage-top">
	<h2><%= "#{@chapter.display_name}" %></h2>
</div>
<div class="stage-bottom">
	<div class="clear">
		<% gender = "boy" if JSON.is_json?(@chapter.first_vimeo_url) %>
		<%= render partial: 'video', locals: {vimeo_url: @chapter.first_vimeo_url, gender: gender} %>
	</div>
	<div class="stage-controls clear">
		<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
			<span>Back</span>
		<% end %>
	</div>
</div>
