<% homeworks.each_with_index do |homework, index| %>
<%= link_to(assign_patient_homework_path(patient, homework), :method => :put, :remote => true) do %>
	<div class="check-row <%= index % 2 == 0 ? 'even' : 'odd'%> <%= assigned.include?(homework.id) ? 'checked' : '' %>">
		<h4><%= homework.description %></h4>
	</div>
<% end %>
<% end %>