<% 
	provide(:body_class, 'misc content-edit edit-chapter')
	provide(:title, 'Edit Chapter') 
%>

<%= form_for(@chapter) do |f| %>


<div class='stage-top'>
	<h2>Edit Chapter <%= @chapter.display_name %></h2>
</div>
<div class='stage-bottom clear'>
	
	<div class="stage-bottom-content">
		
		<h3><%= link_to "View Chapter", chapter_path(@chapter.id), :target => "_blank" %></h3>
	
		<div class="input-row">
			<%= label_tag "chapter_name", "Chapter Title:" %>
			<%= f.text_field :name, :required => true %>
		</div>
		
		<% unless @chapter.sections.first.nil? %>
			<div class="input-row">
				<%= label_tag "chapter_vimeo_url", "Chapter Introduction Video:"%>
				<%= text_field_tag "chapter_vimeo_url", "#{@chapter.sections.first.vimeo_url}" %>
			</div>
		<% end %>
		
		<div class="input-row">
			<%= label_tag "chapter_prepare_vimeo_url", "Chapter Preparation Video:"%>
			<%= text_field_tag "chapter_prepare_vimeo_url", "#{@chapter.prepare_vimeo_url}" %>
		</div>
	
		<h3>Sections 
			<% if @chapter.id == 11 %>
				(<%= link_to 'Add new', chapter_section_path(@chapter, nil), method: 'post' %>)
			<% end %>
		</h3>
		<% @chapter.sections.order(:sequence).each do |section| %>
			<div class="input-row">
				<% if @chapter.id == 11 %>
					<%= link_to "Delete section #{section.sequence}", chapter_section_path(@chapter, section.sequence), method: 'delete' %>
				<% end %>
				
				<% unless section.header_text.nil? %>
				<%= label_tag "section_#{section.id}_header_text", "Section #{section.sequence} Caption:" %>
				<%= text_field_tag "section_#{section.id}_header_text", section.header_text %>
				<% end %>
				<% unless section.body_text.nil? %>
				<%= label_tag "section_#{section.id}_body_text", "Section #{section.sequence} Body Text:" %>
				<%= text_field_tag "section_#{section.id}_body_text", section.body_text %>					
				<% end %>
				<% unless section.audio_file.nil? %>
				<%= label_tag "section_#{section.id}_audio_file", "Section #{section.sequence} Audio File:" %>
				<%= text_field_tag "section_#{section.id}_audio_file", section.audio_file %>					
				<% end %>

				<% if @chapter.id == 11 %>
					<div class="input-row">
						<%= label_tag "section_#{section.id}_vimeo_url", "Section #{section.sequence} video:"%>
						<%= text_field_tag "section_#{section.id}_vimeo_url", "#{section.vimeo_url}" %>
					</div>
				<% end %>
				
				<% section.notes.each_with_index do |note, index| %>
				<%= label_tag "section_#{section.id}_note_#{index + 1}", "Section #{section.sequence} Note #{index + 1}:" %>
				<%= text_area_tag "section_#{section.id}_note_#{index + 1}", note.content %>
				<% end %>
	
				<% section.section_questions.order(:sequence).each_with_index do |question, index| %>
				<%= label_tag "section_#{section.id}_question_#{question.sequence}", "Section #{section.sequence} question #{question.sequence}:" %>
				<%= text_field_tag "section_#{section.id}_question_#{question.sequence}", question.question %>
				<%= text_field_tag "section_#{section.id}_question_#{question.sequence}_answer_boys", question.answer_boys %>
				<%= text_field_tag "section_#{section.id}_question_#{question.sequence}_answer_girls", question.answer_girls %>
				<% end %>
				

			</div>
		<% end %>
		
		<h3>Decks</h3>
		<ul>
		<% @chapter.sections.each do |section| %>
			<% section.decks.each do |deck| %>
				<li><%= link_to "#{deck.title}", edit_deck_path(deck.id) %></li>
			<% end %>
		<% end %>
		</ul>
	
	</div>
	
	<div class="stage-controls clear">
		<a href="#" class="button green save"><span onclick="document.getElementById('edit_chapter_<%= @chapter.id %>').submit();">Save Changes</span></a>
		<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
			<span>Back</span>
		<% end %>
	</div>
	
</div>

<% end %>