<%
	provide(:body_class, 'misc patient chapters')
	provide(:title, "#{@patient.lookup_id}'s home screen")
%>

<div class="stage-top">
	<h2><%= @patient.lookup_id %></h2>
</div>
<div class="stage-bottom">
	<h3>Choose a chapter.</h3>
	
	<div class="chapter-buttons">
	<% Chapter.all.order("display_order ASC").each do |chapter| %>
		<% if chapter.display_order % 2 == 1 %>
			<div class="button-row clear">
		<% end %>

			<%= link_to content_tag(:span, chapter.display_name), chapter_path(chapter.id), class: 'button green' %>

		<% if chapter.display_order % 2 == 1 %>
			<div>
		<% end %>
	<% end %>
	</div>
</div>