<% 
	provide(:body_class, 'edit-deck')
	provide(:title, 'Edit Decks')
%>

<%
if @deck.cards.first.vimeo_url.nil?
	deck_label = 'Deck Title:'
	cards_label = 'Cards'
else 
	deck_label = 'Video Title:'
	cards_label = 'Videos'
end
%>

<%= form_for(@deck) do |f| %>

<div class='stage-top'>
	<h2>Edit Deck: <%= @deck.title %></h2>
</div>
<div class='stage-bottom clear'>
	
	<div class="stage-bottom-content">
	
		<div class="input-row">
			<%= label_tag "deck_title", deck_label %>
			<%= f.text_field :title, :required => true %>
		</div>
		
		<h3><%= cards_label %></h3>
		
		<div class="cards">
			<%= f.fields_for :cards do |c| %>
				<div class="input-row">
					<div class="handle"><div class="hamburger"></div></div>
					
					<div class="active">
						<%= c.label :active %>
						<%= c.check_box :active %>
					</div>

					<%= c.text_field :question %>
					<%= c.hidden_field :card_order, class: "order" %>
				</div>
  			<% end %>
		</div>

	</div>
	
	<div class="stage-controls clear">
		<a href="#" class="button green save"><span onclick="document.getElementById('edit_deck_<%= @deck.id %>').submit();">Save Changes</span></a>
		<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
			<span>Back</span>
		<% end %>
	</div>
	
</div>

<% end %>