<% 
	provide(:body_class, 'deck list')
	provide(:title, 'Edit Decks')
%>
<div class="stage-top">
	<h2>Select a Deck</h2>
</div>
<div class="stage-bottom">

		<% current_provider.decks.group_by {|d| d.section.chapter}.sort_by {|c,d| c.display_order }.each do |chapter,decks| %>

		<h3><%= "#{chapter.display_order} - #{chapter.name}" %></h3>

		<div class="buttons clear">
			<% decks.each_with_index do |deck,index| %>
				<%= link_to edit_deck_path(deck), class: "blue button" do %>
					<span><%= deck.title %></span>
				<% end %>
			<% end %>
		</div>
		<% end %>

	<div class="stage-controls clear">
		<%= link_to "/providers/#{current_provider.id}", class: 'button blue back' do %>
		<span>Back</span>
		<% end %>
	</div>
	
</div>