<%
	provide(:title, 'Administration')
	provide(:body_class, 'content-edit')
%>
<div class='stage-top'>
	<h2>Edit site content</h2>
</div>
<div class='stage-bottom clear'>
	<div class="stage-bottom-content">
		<h3>Chapters</h3>
		<ul>
		<% Chapter.all.order("display_order ASC").each do |chapter| %>
			<li>
				<%= link_to "#{chapter.display_name}", edit_chapter_path(chapter.id) %> &mdash; <%= link_to "View Chapter", chapter_path(chapter.id), :target => "_blank" %>
			</li>
		<% end %>
		</ul>
		
		<h3>Decks</h3>
		<ul>
			<% Deck.where(original:true).each do |deck| %>
				<li><%= link_to "#{deck.title}", edit_deck_path(deck.id) %></li>
			<% end %>
		</ul>

		<%= form_tag("/content/edit", method: "post") do %>
			<label>Audio File Base Url</label><br>
			<input name="audio_url" type="text" value="<%= @audioUrl %>" style="width:60%">
			<button type="submit" class="button green save"><span>Save Changes</span></button>
		<% end %>
		
	</div>
	
	<div class="stage-controls clear">
		<%= link_to 'javascript:history.back()', class: 'button blue back' do %>
			<span>Back</span>
		<% end %>
		<br><br>
	</div>
</div>