<header class="site-header clear">
	<div class="tame clear">
		<h1><%= yield(:title) %></h1>
		<% unless @section_count.nil? || @section_current.nil? %>
			<ul class="pages">
				<% (1..@section_count).each do |index| %>
					<% if index < @section_current  %>
						<li class="completed"><%= index %></li>
					<% elsif index == @section_current %>
						<li class="current"><%= index %></li>
					<% else %>
						<li><%= index %></li>
					<% end %>
				<% end %>
			</ul>
		<% end %>
		<nav class="site-navigation">
			<ul class="top-navigation">
				<li class="menu"><a href="#">Menu</a>
					<ul class="sub-navigation">
						<% if provider_signed_in? %>
							<% unless provider_session[:patient_id].nil? %>
								<li class="home"><%= link_to 'Home', chapters_path %></li>
								<li class="homework"><%= link_to 'Homework', patient_assignments_path(provider_session[:patient_id])%></li>
							<% end %>
							<li class="end-session"><%= link_to('End Session', provider_path(current_provider))%></li>
						<% end %>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</header>