<%

@note_content = ''
@card_notes = false
@section_notes = false
@note_index = 0

if @deck
	@deck.cards.where(active:true).each do |card|
		if card.notes.count > 0
			@card_notes = true
		end
	end
elsif @section
	if @section.notes.first()
		@note_content = @section.notes.first.content
		@section_notes = true
	end
end

%>

<% if @card_notes || @section_notes %>

<div class="provider-notes">
	<div class="tab">
		<h5>Provider</h5>
	</div>
	<div class="notes">
		<h3>Notes</h3>
		<% if @card_notes %>
			<% @deck.cards.where(active:true).each_with_index do |card, card_index| %>

				<div class="note" data-card-id="card-<%= card_index + 1 %>">
					<%= raw card.notes.first.content if card.notes.first %>
				</div>

			<% end %>
		<% elsif @section_notes %>
			<div class="note">
				<%= raw @note_content %>
			</div>
		<% end %>
	</div>
</div>

<% end %>
