<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US">
<!--<![endif]-->
	<head>
	<title>MUSC TFCBT</title>
	<meta charset="UTF-8" />
	<meta name="description" content="MUSC TFCBT" />
	<meta name="keywords" content="" />
	<meta name="viewport" content="width=1020, user-scalable=0;"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>"/>
	<link rel="apple-touch-icon" href="<%= asset_path 'favicon.png' %>">

	<%= stylesheet_link_tag    "application", media: "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

	<script type="text/javascript" src="//use.typekit.net/sss7zpf.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	</head>
	<body class="<%= yield(:body_class) %>">
		<div class="wrap">
			<%= render 'layouts/header' %>
			<!-- todo bwj add these back / style
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
			-->
			<div class="content tame">
				<section class="stage">
					<%= yield %>
					<%= render 'layouts/notes' %>
				</section><!-- stage -->
			</div><!-- content -->
			<div class="push"></div>
		</div><!-- wrap -->
	</body>
</html>
